:root {
  --c1b: #d7d9b1;
  --c1f: black;
  --c2b: #84acce;
  --c2f: black;
  --c3b: #827191;
  --c3f: black;
  --c4b: #7d1d3f;
  --c4f: white;
  --c5b: #512500;
  --c5f: white;
  --doping-fill: #ed6a5a;
  --doping-stroke: var(--c5b);
  --no-doping-fill: #5ca4a9;
  --no-doping-stroke: var(--c4b);
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  padding: 1rem;
  margin: 0;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(45deg, var(--c1b), var(--c2b), var(--c3b));
  color: var(--c1f);
}

#please-wait {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(45deg, var(--c1b), var(--c2b), var(--c3b));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--c1f);
  z-index: 3000;
}

#spinner {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(
    transparent 0deg,
    transparent 30deg,
    var(--c5b) 360deg
  );
  animation-name: rotate360;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.container {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  background-color: var(--c1b);
  display: block;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 100px 2px var(--c5b);
  text-align: center;
  z-index: 3000;
}

svg {
  background-color: var(--c1b);
}

#tooltip {
  position: absolute;
  background-color: var(--c4b);
  color: var(--c4f);
  box-shadow: 0px 0px 5px 2px var(--c5b);
  visibility: hidden;
  border-radius: 0.3rem;
  z-index: 1000;
  padding: 0.3rem;
}

#tooltip th {
  vertical-align: top;
  text-align: right;
}

#tooltip th::after {
  content: ":";
}

#tooltip td {
  vertical-align: top;
  text-align: left;
}

#legend {
  position: absolute;
  right: 3rem;
  text-align: right;
  list-style: none;
  top: 30%;
}

.no-dope-style,
.dope-style {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  opacity: 0.6;
  vertical-align: middle;
  margin: 2px;
}

.no-dope-style {
  background-color: var(--no-doping-fill);
  border: 1px solid var(--no-doping-stroke);
}

.dope-style {
  background-color: var(--doping-fill);
  border: 1px solid var(--doping-stroke);
}

circle {
  r: 0.4rem;
}

.dot {
  stroke: var(--no-doping-stroke);
  fill-opacity: 0.8;
  fill: var(--no-doping-fill);
}

.dot:hover {
  cursor: default;
  fill: var(--no-doping-stroke);
  stroke: var(--no-doping-fill);
}

.dot.doping {
  fill-opacity: 0.4;
  stroke: var(--doping-stroke);
  fill: var(--doping-fill);
}

.dot.doping:hover {
  cursor: pointer;
  fill: var(--doping-stroke);
  stroke: var(--doping-fill);
}

.axisName {
  fill: var(--c5b);
  font-size: 1rem;
}
